<% if current_user %>
  <h1>Welcome <%= current_user.username %></h1>
<% else %>
  <h1>You are not currently signed in</h1>
<% end %>
<br>
<br>
<% @dreams.each do |dream| %>
  <li><%= link_to "#{dream.title}", dream_url(dream) %></li>
<% end %>
