<h1><%= @dream.title  %></h1>
<br>
<br>
<label>Body</label>
<p>
  <%= @dream.body %>
</p>
<br>
<br>
<% if @dream.personal %>
Personal
<% else %>
Private
<% end %>
<br>
<br>
<%= link_to "Edit", edit_dream_url(@dream) %><br>
<%= button_to "Delete", dream_url(@dream), method: :delete %>
